apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: {{ user.name }}
  namespace: {{ kafka_namespace }}
  labels:
    strimzi.io/cluster: {{ kafka_cluster_name }}
spec:
  authentication:
    type: tls
  authorization:
    type: simple
    acls:
{% for acl in user.acls | default([]) %}
      - resource:
          type: {{ acl.resource.split(':')[0] }}
          name: "{{ acl.resource.split(':')[1] }}"
          patternType: literal
        operations:
          - {{ acl.op }}
{% endfor %}
